# Code Owners

# Core maintainers
* @AaryanSinghChauhan09

# Security team
/src/security/ @AaryanSinghChauhan09

# Kernel team
/src/kernel/ @AaryanSinghChauhan09

# Desktop team
/src/desktop/ @AaryanSinghChauhan09

# Package management team
/src/sigpkg/ @AaryanSinghChauhan09

# Driver team
/src/driver/ @AaryanSinghChauhan09

# Documentation team
/docs/ @AaryanSinghChauhan09

# CI/CD team
.github/ @AaryanSinghChauhan09