CompileFlags:
  Add:
    - "-xc"
    - "-std=c11"
    - "-D__SIGMAOS__"
    - "-Iinclude"
    - "-Ilibc"
    - "-ffreestanding"
    - "-nostdinc"
    - "-Wall"
    - "-Wno-unknown-attributes"

Diagnostics:
  Suppress: 
    - "main_file_recursive_preamble"
    - "pp_file_not_found"

Index:
  Background: Build
