[submodule "lib/btrfs-progs"]
	path = lib/btrfs-progs
	url = https://github.com/kdave/btrfs-progs.git

[submodule "lib/e2fsprogs"]
	path = lib/e2fsprogs
	url = https://github.com/tytso/e2fsprogs.git

[submodule "lib/gtk"]
	path = lib/gtk
	url = https://github.com/GNOME/gtk.git

[submodule "lib/linux-drivers"]
	path = lib/linux-drivers
	url = https://github.com/torvalds/linux.git

[submodule "lib/mesa"]
	path = lib/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git

[submodule "lib/musl"]
	path = lib/musl
	url = https://github.com/musl-libc/musl.git

[submodule "lib/openrc"]
	path = lib/openrc
	url = https://github.com/OpenRC/openrc.git

[submodule "lib/pacman"]
	path = lib/pacman
	url = https://gitlab.archlinux.org/pacman/pacman.git

[submodule "lib/wayland"]
	path = lib/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git

[submodule "wiki_git_repo"]
	path = wiki_git_repo
	url = https://github.com/AaryanSinghChauhan09/SigmaOS.wiki.git

[submodule "wiki_remote_clone"]
	path = wiki_remote_clone
	url = https://github.com/AaryanSinghChauhan09/SigmaOS.wiki.git
