# Build artifacts
*.o
*.bin
*.iso
*.elf

# Editor/IDE
.vscode/
.cache/
*.swp
*.swo

# OS junk
Thumbs.db
.DS_Store

# Temp scripts
patch.py
*.tmp

# Local junctions for compatibility
networking
node_modules/.vite


# Wiki folders
wiki_repo/
wiki_temp/
