# SigmaOS ISOLINUX Configuration
DEFAULT sigmaos
LABEL sigmaos
    KERNEL /boot/sigmaos.bin
    APPEND quiet splash
    INITRD /boot/sigmaos_initrd.img

LABEL sigmaos_safe
    KERNEL /boot/sigmaos.bin
    APPEND nomodeset single
    INITRD /boot/sigmaos_initrd.img

TIMEOUT 50
PROMPT 1
DISPLAY boot.msg
