# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=5

# The entry name that will be displayed in the boot menu.
:SigmaOS Zenith v15.2 (Microkernel)
    # We use the limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///boot/sigmaos.elf

    # Disable KASLR for debugging purposes (optional)
    KASLR=no

    # Request a specific resolution from the UEFI GOP/VESA
    RESOLUTION=1920x1080x32

:SigmaOS Zenith v15.2 (Safe Mode / Debug)
    PROTOCOL=limine
    KERNEL_PATH=boot:///boot/sigmaos.elf
    KERNEL_CMDLINE=debug loglevel=7 no-npu disable-iommu
